

.fonts_sora{
  font-family: "Sora";

}

.grids{
  display: grid;
  grid-template-columns: repeat(5,1fr);
  gap: 10px;
}
.fonts_monst{
  font-family:"Montserrat",sans-serif;
}

.navbar-enter {
  opacity: 0;
  transform: translateY(-20px);
}
.hiddens{
  overflow: hidden;
}

.navbar-enter-active {
  opacity: 1;
  transform: translateY(0);
  transition: opacity 0.3s, transform 0.3s;
}

.navbar-exit {
  opacity: 1;
  transform: translateY(0);
}

.navbar-exit-active {
  opacity: 0;
  transform: translateY(-20px);
  transition: opacity 0.3s, transform 0.3s;
}

/* countdown */


 

#section_counter {
  width: 100%;
  height: 100%;
  display: flex;
  gap: 50px;
  background: linear-gradient(to right, rgb(221, 105, 33), rgba(225, 159, 17, 0.925)),url("../../assests/ConstructionTeam.jpg");
  padding:50px 50px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: right;
 }

#section_counter .section-heading {
  padding-bottom: 20px;
  text-align: center;
  letter-spacing: 0.1rem;
}

.counter-grid {
  display: flex; 
  gap: 20px;
  padding-bottom: 60px;
}

.counter-item {
  width: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  /* background: hwb(240 14% 86%); */
  padding: 12px 1.5px;
  text-align: center;
  border-radius: 6px;
  transition: all 0.5s ease-in-out;
  transform: translateY(6rem);
}

 

.counter-item .counter {
  font-size: 55.5px;
  letter-spacing: 0.7rem;
  -webkit-text-stroke-width: 0.2rem;
  -webkit-text-stroke-color: #fff;
  color: transparent;
}


 


@keyframes slide-up {
  0% {
    transform: translateY(6rem);
  }
  100% {
    transform: translateY(0rem);
  }
}

/* contacts */
.contacts{
  padding-top: 30px;
  width: 100%;
  height: 100%;
  display: flex;
  gap: 50px;
  background: linear-gradient(to right, rgb(221, 105, 33), rgba(225, 159, 17, 0.925)),url("../../assests/infrastructure.jpeg");
  padding:50px 50px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: right;
}

/* overlay */
.overlay-container {
  position: relative;
}

.overlay-container img {
  display: block;
  width: 100%;
  height: auto;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent overlay */
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: opacity 0.5s ease;
  border-radius: 0.5rem; /* Adjust to match img's rounded class */
}

.overlay-container:hover .overlay {
  opacity: 1;
}


@media(max-width:1148px) {
  
#section_counter {
  width: 100%;
   display: flex;
  gap: 50px;
  }

#section_counter .section-heading {
  padding-bottom: 20px;
  text-align: center;
  letter-spacing: 0.1rem;
}

.counter-grid {
  display: flex; 
  gap: 20px;
}

.counter-item {
  width: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: hwb(240 14% 86%);
  padding: 12px 1.5px;
  text-align: center;
  border-radius: 6px;
  transition: all 0.5s ease-in-out;
  transform: translateY(6rem);
}

 

.counter-item .counter {
  font-size: 20.5px;
  letter-spacing: 0.5rem;
  -webkit-text-stroke-width: 0.1rem;
  -webkit-text-stroke-color: #fff;
  color: transparent;
}
}

@media(max-width:1066px) {
  .grids{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 10px;
  }
}

@media(max-width:1023px) {
  
  #section_counter {
    width: 100%;
     display: flex;
    justify-content: start;
    align-items: start;
    gap: 30px;
    }
  
  #section_counter .section-heading {
    padding-bottom: 20px;
    text-align: center;
    letter-spacing: 0.1rem;
  }
  
  .counter-grid {
    display: flex; 
    gap: 20px;
  }
  
  .counter-item {
    width: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: hwb(240 14% 86%);
    padding: 12px 1.5px;
    text-align: center;
    border-radius: 6px;
    transition: all 0.5s ease-in-out;
    transform: translateY(6rem);
  }
  
   
  
  .counter-item .counter {
    font-size: 20.5px;
    
  }
 }

  @media(max-width:920px) {
  
    #section_counter {
      width: 100%;
       display: flex;
      text-align: center;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 30px;
      }
      .counter-grid {
        display: flex; 
        text-align: center;
       justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        gap: 20px;
      }
 }
 @media(max-width:768px) {
  .grids{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 10px;
  }
}


@media(max-width:658px) {
  .grids{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 10px;
  }
}
@media(max-width:400px) {
  .grids{
     display: flex;
     flex-direction: column;
    grid-template-columns: repeat(1,1fr);
    gap: 10px;
    align-items: center;
  }
}