
.fonts_sora{
  font-family: "Sora";

}
.fonts_monst{
  font-family:"Montserrat",sans-serif;
}
.cursor{
  cursor: pointer;
}
.bgblue{
  background: linear-gradient(137.68deg, #1F5DFD -3.4%, #9413E3 188.08%);
}
  .navbar.open {
    display: flex;
    transition: 0.5s ease;
  
  }
  
  .hamburger {
    display: block;
    /* width: 100%; */
    position: absolute;
    top: 0;
    padding-top: 5px;
  }
.navbar {
    /* width: 100%; */
    /* height: 100%; */
    display: none;
    position: absolute;
    top: 36px;
  }
  /* fixed inset-0 flex items-center justify-center bg-gray-800 bg-opacity-50 */
.fibonar{
    /* width: 100%; */
    /* height: 100%; */
    /* display: none; */
    position: absolute;
    top: 100px;
    left: 310px;  
}
.colors{
  position: absolute;
  top: 600px;
  left: 310px;  
}
.coordinates{
  position: fixed;
    top: 150px;
    left: 47%;   
}
.spanner{
  position: fixed;
  top: 80px;
  left: 1%; 
}
.spannered{
  position: fixed;
  top: 260px;
  left: 1%;
}
.spider{
  position: fixed;
  top: 140px;
  left: 1%;
}

.widthed{
  width: 228px;
   /* height: 100%; */
   
   border: 1px 0px 0px 0px;
   
       color: aliceblue;
       background: #1A1A1A;
     padding-top: 10px;
      padding-left: 15px;
      padding-right: 15px;
      border-radius: 8px;
      align-items: start;
      flex-direction: column;
      flex-wrap: wrap;
      gap: 0px;
      top: 0px;
      left: 35px;
       z-index: 1000;
      position: absolute;
   display: flex;
   flex-direction: column;
}

.widths{
  width: 313px;
   /* height: 100%; */
   
   border: 1px 0px 0px 0px;
   
       color: aliceblue;
       background: #1A1A1A;
     padding-top: 10px;
      padding-left: 15px;
      padding-right: 15px;
      border-radius: 8px;
      align-items: start;
      flex-direction: column;
      flex-wrap: wrap;
      gap: 0px;
      top: 0px;
      left: 35px;
       z-index: 1000;
      position: absolute;
   display: flex;
   flex-direction: column;
}
  .navbar ul {
    width: 296px;
/* height: 246px; */
border-radius: 5px;
border: 1px 0px 0px 0px;
 
     color: aliceblue;
     background: #1A1A1A;
   padding-top: 10px;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 8px;
    align-items: start;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 0px;
    top: 0px;
    left: 35px;
     z-index: 1000;
    position: absolute;
 display: flex;
 flex-direction: column;
  }
 
 .navbar ul li {
  display: flex;
  width: 100%;
  align-items: center; 
  gap: 5px;
  padding-top: 10px;
  padding-bottom: 10px;
  justify-content: space-between;
  /* flex-direction: column; */
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    font-family: "Sora";
    text-align: center;
    list-style: none;
    cursor: pointer;
    /* color: #000; */
  }
  
 
 
  
  .line {
    width: 25px;
    transition: 0.5s ease;
  
    height: 3px;
    background-color: #fff;
    margin: 5px;
    transition: all 0.3s ease;
  }
  
  
 
 

  .checkbox-custom {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    height: 11px;
    width: 11px;
    background-color: #1A1A1A;
    border: 0.5px solid #D3D0D0;
    /* border-radius: 0.25rem; */
    position: relative;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out, border-color 0.2s ease-in-out;
  }
  
  .checkbox-custom:checked {
    background-color:#000;
    /* border-color: black; */
  }
  
  .checkbox-custom:checked::after {
    content: '';
    position: absolute;
    top: 0px;
    left: 2px;
    width: 5px;
    height: 7px;
    border: solid white;
    border-width: 0 0.1rem 0.1rem 0;
    transform: rotate(45deg);
    transition: border-color 0.2s ease-in-out;
  }
  .footers{
    width: 100%;
    height: 100%;
  }
  .footerbg{
    background-color: #3E74FF;
    color: #fff;
    width: 173px;
    height: 33px;
    border-radius: 5px;
    padding: 10px, 24px, 10px, 24px;
  }


.Homepage_details {
  width: 100%;
  padding: 50px;
  overflow-y: auto;
  height: 110vh;
  scrollbar-width: none;
  -ms-overflow-style: none; /* IE and Edge */
  scroll-behavior: smooth;
}


  @media(max-width:7000px) {
    .footers{
      width: 100%;
      height: 100%;
    } 
  }